<div ng-app="myapp" ng-controller="tableController">
    <table class="table table-stripe">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>lastName</th>
                <th>email</th>
                <th>contact</th>
                <th>address</th>
                <th colspan="4" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of student let i = index">
                <td> {{i+1 }} </td>
                <td> {{ item.name }} </td>
                <td> {{ item.lastName }} </td>
                <td> {{ item.email }} </td>
                <td> {{ item.contact }} </td>
                <td> {{ item.address }} </td>
                <td><button class="btn btn-success" (click)="open(content, i)">view</button>
                <td><button (click)="edit(i)" class="btn btn-warning">Edit</button></td>
                <td><button (click)="delete(i)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile : {{ singlestudent.name }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">

                    <table class="table table-stripe">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>lastName</th>
                                <th>email</th>
                                <th>contact</th>
                                <th>address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ singlestudent.name }} </td>
                                <td> {{ singlestudent.lastName }} </td>
                                <td> {{ singlestudent.email }} </td>
                                <td> {{ singlestudent.contact }} </td>
                                <td> {{ singlestudent.address }} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>




</div>


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->