<div class="container center">

    <div class="row justify-content-center">
        <div class="card mt-4 col-6">

            <div class="card-body">
                <form [formGroup]="insertForm" (ngSubmit)="onSubmit(insertForm)">
                    <div>
                        <div class="mb-3">
                            <label for="exampleInputname1" class="form-label">First Name</label>
                            <input type="text" formControlName="name" class="form-control" id="exampleInputname1"
                                aria-describedby="Help" required [pattern]="alphaNumeric">

                            <div class="text-danger" *ngIf="f['name'].errors?.required && formsubmit">
                                Please provide a first name.
                            </div>
                            <!-- <div class="text-danger" *ngIf="f['name'].errors?.pattern && formsubmit">
                                Name not valid.
                            </div> -->
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSurname1" class="form-label">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" id="exampleInputSurname1"
                                required [pattern]="alphaNumeric">
                            <div class="text-danger" *ngIf="f['lastName'].errors?.required && formsubmit">
                                Please provide a last name.
                            </div>
                            <!-- <div class="text-danger" *ngIf="f['lastName'].errors?.pattern">
                                Name not valid.
                            </div> -->
                        </div>

                    </div>


                    <div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required [pattern]="emailPattern">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            <div class="text-danger" *ngIf=" f['email'].errors?.required && formsubmit ">
                                Please provide a email.
                            </div>
                            <div class="text-danger" *ngIf=" f['email'].errors?.pattern">
                                Email not valid.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputContact1" class="form-label">Contact</label>
                            <input type="text" formControlName="contact" class="form-control" id="exampleInputContact1"
                                aria-describedby="contactHelp" required [pattern]="contactPattern">
                                <div *ngIf=" f['contact'].errors?.required && formsubmit" class="text-danger">Please enter mobile number
                                </div>
                                <div *ngIf="f['contact'].errors?.pattern" class="text-danger">Mobile number is not 10 digit
                                </div>
                        </div>

                    </div>

                    <div>

                        <div class="mb-3">
                            <label for="exampleInputAddress1" class="form-label">Address:</label>
                            <textarea type="text" formControlName="address" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required [pattern]="alphaNumeric">
                            </textarea>

                            <div class="text-danger" *ngIf="f['address'].errors?.required && formsubmit">
                                Please provide a email.
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-success m-2">submit</button>
                </form>

            </div>
        </div>
    </div>

</div>