<div class="container">
    <h5 class="text-center mt-5">SignIn</h5>
    <div class="row justify-content-center">
        <div class="card mt-4 col-6">

            <div class="card-body">
                <form [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm)">
                    <div class="mb-3">
                        <label for="exampleInputName1" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="exampleInputName1"
                            aria-describedby="NameHelp" required [pattern]="alphaNumeric">
                        <div class="text-danger"
                            *ngIf="formsubmit && f['name'].errors">
                            Please provide a name.
                        </div>
                        <div class="text-danger"
                            *ngIf="formsubmit && f['name'].errors?.pattern">
                            Please provide valid name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required [pattern]="emailPattern">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <div class="text-danger"
                            *ngIf=" f['email'].invalid && formsubmit ">
                            Please provide a email.
                        </div>
                        <div class="text-danger" *ngIf=" f['email'].errors?.pattern"> 
                            Email not valid.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputContact1" class="form-label">Contact</label>
                        <input type="text" formControlName="contact" class="form-control" id="exampleInputContact1"
                            aria-describedby="contactHelp" required [pattern]="contactPattern">
                            <div *ngIf="formsubmit && f['contact'].invalid" class="text-danger">
                                <div *ngIf=" f['contact'].errors?.required && formsubmit">Please enter mobile number</div>
                                <div *ngIf="f['contact'].errors?.pattern && formsubmit">Mobile number is not 10 digit</div>
                            </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="exampleInputGender1" class="form-label">Gender</label>
                                <select class="form-control" formControlName="gender">
                                    <option value="" selected="selected" hidden="hidden">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div class="text-danger"
                                    *ngIf="formsubmit && f['gender'].invalid">
                                    Please provide a gender.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            id="exampleInputPassword1" required>
                        <div class="text-danger"
                            *ngIf="formsubmit && f['password'].invalid">
                            Please provide a password.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>